# Environment Mode 
NODE_ENV=development
PORT=3000

# Database Connection 
DATABASE_URL=postgresql://user:password@localhost:5432/dcms_db?schema=public

# Redis Connection (Optional)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets & Expiration
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=7d